/* CreateAnnouncement.module.css */
.announcementInput {
    font-size: 16px;
  }
  
  .selectInput {
    font-size: 16px;
  }
  
  .textAreaInput {
    font-size: 16px;
  }
  
  .fileInput {
    margin-top: 10px; 
  }